.project_container{
width:90vw;
margin:0 auto;
}

.project_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project_card{
width: 25vw;
height: auto;
margin: 0 auto;
border-radius: 10px;
border: 6px solid #769687;
}

.project_card img{
  width:100%;
  height: 100%;
  border-radius: 5px;
 
  }

.project_card img:hover{
 transform: scale(1.1);
 border: 5px solid white;
  
}