.header{
        display: flex;
        align-items: center;
        gap:5vw;
        }

.header h1{
    font-size: 4vw;
}
.logo {
  
    width: 25%;
    height: 25%;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@media screen and (max-width: 800px){
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:2vw;
        }
        .header h1{
            font-size: 2rem;
            margin: 0;
        }

}