.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5vw;
    width: 50vw;
}

.header h1{
    font-size: 6vw;
    margin: 1vw;   
}

.header h3{
    font-size: 2vw;
    margin: 1.1vw;
    text-align: left;
}

.header_text{
    align-items: left;

}

.logo {
    width: 15%;
    height: auto;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
 
@media screen and (max-width: 800px){
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:2vw;
        }
    .header h1{
        font-size: 2rem;
        margin: 0;
    }
}