.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap:1vw
}

.footer img{
    width:2vw
}

@media screen and (max-width: 800px){
    .footer img{
        width:5%
    }
    
}