.experience_grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2vw;
    background-color: #26292f;
    padding: 2vw;
    border-radius: 8px;
    border-bottom: 0.5px solid #769687 ;
}
.experience_grid img {
   margin: 0 auto;
}


@media screen and (max-width: 800px) {
    .experience_grid{
        
        grid-template-columns: repeat(5, 1fr);
        gap: 1vw;
        
    }

    .experience_grid img {
        width:30px;
        height:30px;
        margin-bottom:10px
     }
  }