.nav_container{
    margin:  1vw 20vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #26292f;
    font-size: 1.5vw;
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 0.5px solid #769687 ;
}

.nav_container a{
    text-decoration: none;
    color: aliceblue;
}

.nav_container a:hover{
transform: scale(1.2);
color: #769687;
}


@media screen and (max-width: 800px){
    .nav_container{
        margin:  1vw 10vw;
        height: 5vh;
             font-size: 1rem;
      
    } 
}